<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <link rel="icon" href="http://gottaplace.it/favicon.ico" type="image/x-icon" />
  <link rel="shortcut icon" href="http://gottaplace.it/favicon.ico" type="image/x-icon" />

  <title>GottaPlace.it | A Placeholder Service</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
